<div class="container">
  <h2>{{cuisine.name}}</h2>
  <div class="row">
    {{#each cuisine.recipe}}
      <div class="col">
  <!-- display recipe in a card -->
  
      </div>
    {{/each}}
  </div>

</div>
